#chat-box {
  padding: 0rem 2rem 2rem;
  .messages-wrapper {
    .message-unit {
      margin-bottom: 2rem;
      &.system {
        color: orange;
      }
    }
  }
  form {
    margin-top: 2rem;
    input {
      display: block;
      width: 100%;
      padding: 0.8rem 0rem;
      text-indent: 20px;
      font-size: 16px;
    }
  }
}
